################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular2-quickstart/node_modules/
/HeroApp/node_modules/
/HeroTutorial/HeroApp/node_modules
/HeroTutorial/HeroApp/typings